<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="flow" th:tag="remove">
  <div class="mb-5">
    <img
      th:src="@{images/first/head_4@2x.png}">
  </div>
  <h3 class="simple-head mt-0 mb-4">１．カウンセリング・検査</h3>
  <div class="d-md-flex row my-4">
    <div class="col-md-4">
      <figure>
        <img
          th:src="@{images/first/flow_1@2x.jpg}">
      </figure>
    </div>
    <div class="col-md-8">
      <p>プライバシーが守られた個室でしっかりとお話を伺い、お身体の状態を視覚的にご確認いただく為、姿勢撮影と分析を行います。</p>
      <p>さらに痛みや不調が取れたらどうなりたいか（ゴール）をお伺いして、ライフスタイルに合わせたオーダーメイドの施術プログラムを作成します。</p>
      <p>お身体の状態はどうなのか、何をすればゴールに到達出来るのかを詳しくご説明するので不安がない状態で施術を受けられます。</p>
    </div>
  </div>
  <div class="text-center">
    <figure>
      <img
        th:src="@{images/first/arrow_1@2x.png}"
        class="w-25">
    </figure>
  </div>
  <h3 class="simple-head mt-0 mb-4">２．施術</h3>
  <div class="d-md-flex row my-4">
    <div class="col-md-4">
      <figure>
        <img
          th:src="@{images/first/flow_2@2x.jpg}">
      </figure>
    </div>
    <div class="col-md-8">
      <p>5万人以上を施術した国家資格者が施術を担当します。</p>
      <p>今抱えている痛みを緩和しながら、体に負担の少ない矯正法やプロスポーツチームも施術で使用して効果を認めている機器を、体の状態に応じて使い分け痛みの原因を優しく施術します。</p>
    </div>
  </div>
  <div class="text-center">
    <figure>
      <img
        th:src="@{images/first/arrow_1@2x.png}"
        class="w-25">
    </figure>
  </div>
  <h3 class="simple-head mt-0 mb-4">３．アフターカウンセリング</h3>
  <div class="d-md-flex row my-4">
    <div class="col-md-4">
      <figure>
        <img
          th:src="@{images/first/flow_3@2x.jpg}">
      </figure>
    </div>
    <div class="col-md-8">
      <p>痛みや不調を再発させないために、ご自身で簡単にできるストレッチや正しい身体の使い方の指導を行います。</p>
      <p>さらに、カウンセリング時にお伺いしたゴールを達成するために通う頻度や期間の目安が入ったオリジナルの施術計画書をお渡しします。</p>
    </div>
  </div>
</div>
</html>