<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="knowlodge">
          <div class="mb-4">
            <img th:src="@{content/themes/lightning_child/images/title_1@2x.jpg}">
          </div>
          <div class="bg-dot-head my-4">
            <div class="d-table w-100">
              <div class="d-table-row">
                <div class="d-table-cell num text-center">
                  <p class="mb-0">
                    <b>1</b>
                  </p>
                </div>
                <div class="d-table-cell text align-middle p-3">
                  <h5 class="m-0 p-0">
                    <b>痛みやコリが出ている箇所は結果。<br>本当の原因を見つけて施術していないから
                    </b>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-4">
            <p>
              <img th:src="@{content/themes/lightning_child/images/figure_3@2x.jpg}">
            </p>
          </div>
          <p>肩こりや腰痛、頭痛など、痛い場所は結果であり原因ではありません。</p>
          <p>例えば、肩こりで重だるい肩の筋肉を揉みほぐしたらその場は気持ちも良いし、体も軽くなったと感じますよね。</p>
          <p>
            しかし時間が経てば、また肩が重だるくなってきます。<br>なぜでしょうか？それは肩こりを引き起こしている原因を施術していないからです。
          </p>
          <p>痛みやコリの原因になる骨格の歪みは、猫背などの悪い姿勢や日常生活での悪い癖が体に負担を掛ける事で起こります。</p>
          <p>ですから姿勢や日常生活での体の使い方を正しくしていくことで、痛みやコリは改善されていくのです。</p>
          <p>痛い場所ではなく、痛みの原因にしっかりアプローチしていくことが大切です。</p>
          <div class="py-4">
            <div class="head-bg p-4 text-center">
              <h4 class="simple-head m-0">
                <b class="color-wh">日常生活のどんな癖が骨格の歪みを<br>起こすのでしょうか？
                </b>
              </h4>
            </div>
          </div>
          <p>例えば足を組んで椅子に座ったり、浅く座ったり、あぐらをかいて座ったり、枕を高くして寝たりなどの悪い癖が習慣化すると骨盤・骨格が歪んできます。</p>
          <h3 class="simple-head mt-5 mb-4 text-center">体に歪みが出るとこんな痛みやコリが出ます！</h3>
          <div class="d-sm-flex row">
            <div class="col-sm-3">
              <p>
                <img th:src="@{content/themes/lightning_child/images/figure_4@2x.jpg}">
              </p>
            </div>
            <div class="col-sm-9">
              <p>
                骨格近くの筋肉や神経が圧迫され血流が悪くなり、<span class="pc-br">体のあちこちに支障をきたし痛みや不調が出てきます。</span>
              </p>
              <p>例えば、自律神経の乱れによる不眠や体の疲れやすさ、肩こり、腰痛、代謝低下で起こる冷え性や女性特有のお悩み（生理痛、生理不順）など、体に様々なトラブルを誘発します。</p>
              <p>ですから、痛みやコリを改善していくには骨格の歪みを矯正する事が大切になります。</p>
            </div>
          </div>
          <div class="bg-dot-head my-4">
            <div class="d-table w-100">
              <div class="d-table-row">
                <div class="d-table-cell num text-center">
                  <p class="mb-0">
                    <b>2</b>
                  </p>
                </div>
                <div class="d-table-cell text align-middle p-3">
                  <h5 class="m-0 p-0">
                    <b>体や姿勢を支える筋肉（インナーマッスル）を<span class="pc-br">鍛えていないから</span></b>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="d-sm-flex row">
            <div class="col-sm-5 order-sm-2">
              <p>
                <img th:src="@{content/themes/lightning_child/images/figure_5@2x.jpg}">
              </p>
            </div>
            <div class="col-sm-7 order-sm-1">
              <p>筋肉には「インナーマッスル」、「アウターマッスル」と呼ばれる2種類があります。</p>
              <p>皮膚に近い筋肉がアウターマッスルで、体の深い箇所にある筋肉がインナーマッスルです。</p>
              <p>スポーツジム等で鍛えているのはアウターマッスルで役割としては、瞬発力が必要な動作（走る・跳ぶなど）や外部からの衝撃から体を守ることです。</p>
            </div>
          </div>
          <p>
            一方、インナーマッスルの役割は、体を支えて姿勢や関節の位置を保つ事です。<br>つまり、この筋肉が弱いと施術で正しい姿勢になってもその状態を保つ事が出来ずに、<span
              class="pc-br">痛みやコリを引き起こしてしまいます。</span>
          </p>
          <p>ですから、痛みやコリを繰り返さない為にも骨格を調整しながらインナーマッスルを鍛えていく事が重要です。</p>


</div>
</html>