<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="merit">
  <div class="pt-5 mb-4">
    <img
      th:src="@{content/themes/lightning_child/images/title_5@2x.jpg}">
  </div>
  <div class="merit-block mb-5">
    <div class="merit-container p-1">
      <table class="w-100">
        <tbody>
          <tr>
            <td>
              <div class="d-flex row">
                <div class="col-3 align-self-center text-center">
                  <img
                    th:src="@{content/themes/lightning_child/images/merit_1@2x.jpg}">
                </div>
                <div class="col-9 align-self-center">
                  お仕事や<br>買い物帰りも安心！<br>
                  <span class="color-red">20時まで受付</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex row">
                <div class="col-3 align-self-center text-center">
                  <img
                    th:src="@{content/themes/lightning_child/images/merit_2@2x.jpg}">
                </div>
                <div class="col-9 align-self-center">
                  平日通うのが<br>難しい方も安心！<br>
                  <span class="color-red">土日祝日も営業</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex row">
                <div class="col-3 align-self-center text-center">
                  <img
                    th:src="@{content/themes/lightning_child/images/merit_3@2x.jpg}">
                </div>
                <div class="col-9 align-self-center">
                  <span class="color-red">予約優先</span><br>だから待ち時間が<br>ありません
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex row">
                <div class="col-3 align-self-center text-center">
                  <img
                    th:src="@{content/themes/lightning_child/images/merit_4@2x.jpg}">
                </div>
                <div class="col-9 align-self-center">
                  <span class="color-red">手ぶらでもOK</span><br>更衣室や上下お着替えも<br>ご用意
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex row">
                <div class="col-3 align-self-center text-center">
                  <img
                    th:src="@{content/themes/lightning_child/images/merit_5@2x.jpg}">
                </div>
                <div class="col-9 align-self-center">
                  国が定めた<br>全11科目をクリア<br>
                  <span class="color-red">国家資格者が施術</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex row">
                <div class="col-3 align-self-center text-center">
                  <img
                    th:src="@{content/themes/lightning_child/images/merit_6@2x.jpg}">
                </div>
                <div class="col-9 align-self-center">
                  <span class="color-red">女性も安心！</span><br>女性スタッフ在籍
                </div>
              </div>
            </td>
          </tr>
          <tr>
              <td>
                  <div class="d-flex row">
                      <div class="col-3 align-self-center text-center">
                          <img th:src="@{content/themes/lightning_child/images/merit_7@2x.jpg}">
                      </div>
                      <div class="col-9">
                          <span class="color-red">ポイントも貯められる</span><br>クレジットカードでの<br>お支払いOK
                      </div>
                  </div>
              </td>
              <td>
                  <div class="d-flex row">
                      <div class="col-3 align-self-center text-center">
                          <img th:src="@{content/themes/lightning_child/images/merit_8@2x.jpg}">
                      </div>
                      <div class="col-9">
                          <span class="color-red">キャッシュレス決済</span><br>でのお支払いOK
                      </div>
                  </div>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</html>