<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="point">
          <div class="py-4">
            <div class="head-bg p-4 text-center">
              <h4 class="simple-head m-0">
                <b class="color-wh">痛みやコリを繰り返さない体へ変われる！<br>施術３つのポイント
                </b>
              </h4>
            </div>
          </div>
          <div class="pb-4">
            <p>
              <img th:src="@{content/themes/lightning_child/images/figure_6@2x.jpg}" class="spnon"><img
                th:src="@{content/themes/lightning_child/images/sp_figure_6@2x.jpg}" class="pcnon">
            </p>
          </div>
          <p>
            にこにこ整骨院では、<br>痛みの原因にアプローチした施術に加え、既に結果として出ている痛みやコリを緩和していきます。
          </p>
          <p>
            なぜなら、施術を1回受けるだけでは痛みやコリを繰り返さない体になる事は難しいので、<span class="pc-br">まずは普段の生活を不安なく送る為に痛みやコリを緩和させる必要があるからです。</span>
          </p>
          <p>そして骨格と姿勢の矯正を行いながら痛みやコリを改善していきます。</p>
          <p>さらに、正しい体の使い方のアドバイスや姿勢を保つ為には欠かせないインナーマッスルを鍛えて痛みやコリを繰り返さない体へと変えていきます。</p>
          <h3 class="simple-head mt-5 mb-4 text-center">整体、整骨院、接骨院でも施術の内容が違います！</h3>
          <div class="pb-4">
            <p>
              <img th:src="@{content/themes/lightning_child/images/figure_7@2x.jpg}">
            </p>
          </div>
          <div class="pb-4">
            <p>例えば腰痛の施術を受けて、その場は楽になっても短い期間で痛みが繰り返し出て来る方は「痛みを緩和」する施術を受けています。</p>
            <p>さらに痛みは改善されたけど、しばらくしたら再び痛みが出てきた方は「痛みを改善」する施術を受けています。</p>
            <p>にこにこ整骨院では痛み改善後、痛みが再発しない体づくりを目的に施術を行っています。</p>
            <p>施術の内容は院によってそれぞれ違いますので、目的に合わせた院を選択する事が大切です。</p>
          </div>

</div>
</html>