<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <div  th:fragment="nayami" th:tag="remove">
    <div class="pt-3 text-center">
      <h3 class="simple-head my-4">こんなお悩みをお持ちの方は一度ご相談ください</h3>
    </div>
    <p class="mb-5">
      <img
        th:src="@{images/price/figure_2@2x.jpg}"
        class="spnon"><img
        th:src="@{images/price/sp_figure_2@2x.jpg}"
        class="pcnon">
    </p>
    <div class="text-center">
      <h5 class="h5-middle mt-0">
        これ以外の<b class="color-red">痛み</b>や<b class="color-red">体の不調</b>にも対応します。<br>一度ご相談ください。
      </h5>
    </div>
  </div>

  <div  th:fragment="jihiprice" th:tag="remove">
    <h4 class="border-head my-4">選べる自費の施術（税込）</h4>
      <p>
        <img
          th:src="@{images/price/price00.png}">
      </p>
      <table class="table-1 table-2 text-center mb-3">
        <tbody>
          <tr>
            <th class="w-50"></th>
            <th>2回目以降</th>
          </tr>
          <tr>
            <td><b class="color-gry">骨盤矯正(50分～60分)</b></td>
            <td>6,000円</td>
          </tr>
          <tr>
            <td><b class="color-gry">ネコ背矯正(50分～60分)</b></td>
            <td>6,000円〜</td>
          </tr>
          <tr>
            <td><b class="color-gry">小顔矯正(30分)</b></td>
            <td>5,000円〜</td>
          </tr>
          <tr>
            <td><b class="color-gry">電気治療＋カイロ</b></td>
            <td>1,500円〜</td>
          </tr>
          <tr>
            <td><b class="color-gry">キネシオテーピング</b></td>
            <td>300円〜</td>
          </tr>
        </tbody>
      </table>
      <div class="pb-4">
        <p>
          ※自費の施術に関しては、少しでも患者様の負担を減らせるようなコースをご用意しています。<br>一緒に相談をしながら決めていきましょう。
        </p>
      </div>
      
  
  </div>
  <div  th:fragment="osusume" th:tag="remove">
    <div class="text-center">
      <h5 class="h5-2em py-4">
        <b class="color-red">痛みが再発しない体やメンテナンスでキレイなプロポーションに<span
          class="pc-br">なりたい方にはオススメです</span></b>
      </h5>
    </div>
    <div class="d-sm-flex row">
      <div class="col-sm-6">
        <p>
          <img
            th:src="@{images/price/price01.jpg}">
        </p>
      </div>
      <div class="col-sm-6">
        <p>プライバシーに配慮した完全個室でカウンセリングを行いじっくりとお話をお伺いします。</p>
        <p>
          さらに姿勢の写真を撮影、分析しますので今まで悩んでいた痛みの原因が明確になり、<span class="pc-br">お一人お一人のライフスタイルに合わせたオーダーメイドの施術プログラムが作成出来ます。</span>
        </p>
        <p>ですから、キレイなプロポーションになりたい方や産前のスタイルに戻りたいママさんにもオススメです。</p>
      </div>
    </div>
    <p>なお、骨盤の歪みを矯正する為、腰痛、肩こり、ヘルニア、頭痛、坐骨神経痛なども対応可能です。</p>
    <p>施術実績が延べ5万人以上の院長が毎回担当しますので歪みを改善して痛みのストレスがない体に変わっていけます。</p>
  </div>
  <div  th:fragment="campaign" th:tag="remove">
    <div class="text-center mb-5 pb-4">
      <p class="mb-0">
        <img
          th:src="@{images/CampaignBnr@2x.png}"
          class="spnon"><img
          th:src="@{images/sp_CampaignBnr@2x.png}"
          class="pcnon">
      </p>
    </div>
  </div>
</html>