<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="reasion">
  <div class="pt-4 mb-4">
    <img
      th:src="@{content/themes/lightning_child/images/title_2@2x.png}"
      class="spnon"> <img
      th:src="@{content/themes/lightning_child/images/sp_title_2@2x.jpg}"
      class="pcnon">
  </div>
  <div class="bg-dot-head my-4">
    <div class="d-table w-100">
      <div class="d-table-row">
        <div class="d-table-cell num text-center">
          <p class="mb-0">
            <b>1</b>
          </p>
        </div>
        <div class="d-table-cell text align-middle p-3">
          <h5 class="m-0 p-0">
            <b>視覚的な検査と個室でのカウンセリングで<span class="pc-br">痛みやコリの原因が明確に！</span></b>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="d-sm-flex row">
    <div class="col-sm-6">
      <p>
        <img
          th:src="@{content/themes/lightning_child/images/figure_8@2x.jpg}">
      </p>
    </div>
    <div class="col-sm-6">
      <p>カウンセリングは、痛みやコリの原因を見つけていく為には非常に大切な事です。</p>
      <p>ですから、お悩みを気兼ねなくお話頂けるようにプライバシーが守られた個室で行います。</p>
      <p>世間話のような何気ない会話から痛みやコリの原因のヒントが出る場合もありますので、リラックスしてお話ください。</p>
      <p>なお検査は、お体の状態を正確にご理解いただく為、姿勢を撮影して視覚的にチェックします。</p>
    </div>
  </div>
  <div class="pb-3">
    <p>痛みやコリが出ない理想の姿勢と現在の状態を比べながらお話しますので、何が原因で痛みやコリを引き起こしているのかが明確になります。</p>
    <p>そして施術を受けてどうなりたいかなど、目標やゴールを共有してライフスタイルに合わせたオーダーメイドの施術プログラムを作成します。</p>
    <p>理想（目的地）と現実（現在地）に加えて、目的地にたどり着く為の方法も明確になるので、ご納得して施術を受けられます。</p>
  </div>
  <div class="bg-dot-head my-4">
    <div class="d-table w-100">
      <div class="d-table-row">
        <div class="d-table-cell num text-center">
          <p class="mb-0">
            <b>2</b>
          </p>
        </div>
        <div class="d-table-cell text align-middle p-3">
          <h5 class="m-0 p-0">
            <b>20年で5万人以上を施術した国家資格者が<span class="pc-br">痛みやコリの原因をやさしく施術</span></b>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="d-sm-flex row">
    <div class="col-sm-6 order-2">
      <p>
        <img
          th:src="@{content/themes/lightning_child/images/figure_9@2x.jpg}">
      </p>
    </div>
    <div class="col-sm-6 order-1">
      <p>同じ腰の痛みでも、痛みを引き起こしている原因やお体の状態は人それぞれです。</p>
      <p>なので痛みを緩和しながら、体に負担の少ない矯正法やプロスポーツチームも施術で使用して効果を認めている機器を、体の状態に応じて使い分け痛みの原因へ優しくアプローチしていきます。</p>
      <p>痛い所を強く押したり、骨をバキバキ鳴らしたりなど体に負担がかかるような施術は一切行いません。</p>
    </div>
  </div>
  <div class="pb-3">
    <p>さらに通うごとに施術の担当が違うという事もない為、お体の改善具合を確認しながら施術を受けられます。</p>
  </div>
  <div class="bg-dot-head my-4">
    <div class="d-table w-100">
      <div class="d-table-row">
        <div class="d-table-cell num text-center">
          <p class="mb-0">
            <b>3</b>
          </p>
        </div>
        <div class="d-table-cell text align-middle p-3">
          <h5 class="m-0 p-0">
            <b>痛みやコリを繰り返さない為の正しい体の使い方
            </b>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-2">
    <p>
      <img
        th:src="@{content/themes/lightning_child/images/figure_6@2x.jpg}">
    </p>
  </div>
  <div class="pb-3">
    <p>体の調子が良くなっても、体の使い方が悪いままだと痛みやコリは繰り返します。</p>
    <p>ちなみに雑誌やテレビなどでは、様々な健康法が紹介されていますが、今の体に必要なものを正しく見極めて実践しないと、逆に体を痛めてしまいます。</p>
    <p>そうならないように、体に負担なく簡単に継続できるセルフケアをアドバイスします。</p>
    <p>施術を受ける以外でもセルフケアを継続して頂くと「正しい体の使い方」が習慣化して、痛みやコリを繰り返さない体へと変わっていけます。</p>
    <p>ですから、施術で歪みを矯正して正しくなった姿勢を維持する事が出来て痛みやコリを繰り返さない体に変わっていけます。</p>
    <p>ご興味ある方はお気軽にご相談ください。</p>
  </div>
</div>
</html>