<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="slider" th:remove="tag">
  <div class="spnon">
    <div class="n2-section-smartslider fitvidsignore " role="region"
      aria-label="Slider">
      <div id="n2-ss-2-align" class="n2-ss-align">
        <div class="n2-padding">
          <div id="n2-ss-2" data-creator="Smart Slider 3"
            class="n2-ss-slider n2-ow n2-has-hover n2notransition  n2-ss-load-fade "
            style="font-size: 1rem;" data-fontsize="16">
            <div class="n2-ss-slider-1 n2_ss__touch_element n2-ow" style="">
              <div class="n2-ss-slider-2 n2-ow" style="">
                <div class="n2-ss-background-animation n2-ow"></div>
                <div class="n2-ss-slider-3 n2-ow" >

                  <div class="n2-ss-slide-backgrounds"></div>
                  <div data-first="1" data-slide-duration="0" data-id="4"
                    class=" n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-4">
                    <div class="n2-ss-slide-background n2-ow" data-mode="fill">
                      <div data-hash="0f7b5290c66232b91f508c6871a84f65"
                        th:data-desktop="@{images/slider/pc_teaser@2x-scaled.jpg}"
                        class="n2-ss-slide-background-image" data-blur="0"
                        data-alt="" data-title="" data-no-lazy=""
                        style="background-image: url(/images/slider/pc_teaser@2x-scaled.jpg)"></div>
                    </div>
                    <div class="n2-ss-layers-container n2-ow">
                      <div class="n2-ss-layer n2-ow"
                        style="padding: 0px 0px 0px 0px;"
                        data-desktopportraitpadding="0|*|0|*|0|*|0"
                        data-sstype="slide" data-csstextalign="center"
                        data-pm="default"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="n2-ss-2-spinner" style="display: none;">
            <div>
              <div class="n2-ss-spinner-simple-white-container">
                <div class="n2-ss-spinner-simple-white"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="n2_clear"></div>
      <div id="n2-ss-2-placeholder"
        style="min-height: 0px; position: relative; z-index: 2; background-color: RGBA(0, 0, 0, 0); background-color: RGBA(255, 255, 255, 0);">
        <img
          style="width: 100%; max-width: 3000px; display: block; opacity: 0; margin: 0px;"
          class="n2-ow"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyODAwIiBoZWlnaHQ9IjEzMDAiID48L3N2Zz4="
          alt="Slider" />
      </div>
    </div>
  </div>
  <div class="pcnon">
    <div class="n2-section-smartslider fitvidsignore " role="region"
      aria-label="Slider">
      <div id="n2-ss-3-align" class="n2-ss-align">
        <div class="n2-padding">
          <div id="n2-ss-3" data-creator="Smart Slider 3"
            class="n2-ss-slider n2-ow n2-has-hover n2notransition  n2-ss-load-fade "
            style="font-size: 1rem;" data-fontsize="16">
            <div class="n2-ss-slider-1 n2_ss__touch_element n2-ow" style="">
              <div class="n2-ss-slider-2 n2-ow" style="">
                <div class="n2-ss-background-animation n2-ow"></div>
                <div class="n2-ss-slider-3 n2-ow" style="">

                  <div class="n2-ss-slide-backgrounds"></div>
                  <div data-first="1" data-slide-duration="0" data-id="10"
                    style=""
                    class=" n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-10">
                    <div class="n2-ss-slide-background n2-ow" data-mode="fill">
                      <div data-hash="23e11bead7a7d381583a6e7be7f3eeb9"
                        th:data-desktop="@{images/slider/sp_slider1.jpg}"
                        class="n2-ss-slide-background-image" data-blur="0"
                        data-alt="" data-title="" data-no-lazy=""
                        style="background-image: url(/images/slider/sp_slider1.jpg)"></div>
                    </div>
                    <div class="n2-ss-layers-container n2-ow">
                      <div class="n2-ss-layer n2-ow"
                        style="padding: 0px 0px 0px 0px;"
                        data-desktopportraitpadding="0|*|0|*|0|*|0"
                        data-sstype="slide" data-csstextalign="center"
                        data-pm="default"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="n2-ss-3-spinner" style="display: none;">
            <div>
              <div class="n2-ss-spinner-simple-white-container">
                <div class="n2-ss-spinner-simple-white"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="n2_clear"></div>
      <div id="n2-ss-3-placeholder"
        style="min-height: 0px; position: relative; z-index: 2; background-color: RGBA(0, 0, 0, 0); background-color: RGBA(255, 255, 255, 0);">
        <img
          style="width: 100%; max-width: 2500px; display: block; opacity: 0; margin: 0px;"
          class="n2-ow"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NTAiIGhlaWdodD0iOTAwIiA+PC9zdmc+"
          alt="Slider" />
      </div>
    </div>
  </div>
</div>
</html>