<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">

<head>
	<title th:text="#{content.gikkuri.title}"></title>
	<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<meta name="description" th:content="@{content.gikkuri.description}" />
	<link rel="canonical" th:href="#{content.gikkuri.url}" />
	<meta property="og:url" th:content="#{content.gikkuri.url}" />
	<meta property="og:title" th:content="#{content.gikkuri.title}" />
	<meta property="og:description" th:content="#{content.gikkuri.description}" />
</head>

<body>
	<div th:remove="tag" id="container">

		<div layout:fragment="mainSection">
			<article id="post-45" class="post-45 page type-page status-publish hentry">
				<div class="entry-body">
					<h2 class="bg-head color-grn mb-4">ぎっくり腰、寝違え</h2>
					<div class="py-3">
						<img th:src="@{images/gikkuri/intro@2x.jpg}">
					</div>
					<div class="pt-3 pb-5">
						<img th:src="@{images/gikkuri/top_trouble@2x.jpg}">
					</div>
					<div class="mb-4">
						<img th:src="@{images/gikkuri/head_1@2x.png}">
					</div>
					<div class="text-center">
						<p>急に痛くなるぎっくり腰や寝違えは、痛みを引き起こしている原因をしっかりと見極めて<span class="pc-br">改善させる事が大切です。</span></p>
						<p>原因を改善せずにいると、痛みを何回も繰り返し身体への負担が大きくなっていきます。&nbsp;<br>にこにこ整骨院は、ぎっくり腰や寝違えを引き起こす原因を施術して改善に加え<span
								class="pc-br">再発しない身体作りをサポートしています。</span><br>治らないと諦めずにしっかりとお身体をケアしましょう！</p>
					</div>
					<div class="mb-5 text-center">
						<img th:src="@{images/youtsu/head_2@2x.png}" class="w-75">
					</div>
					<div class="mb-5">
						<img th:src="@{images/youtsu/figure_1@2x.jpg}">
					</div>
					<div class="mb-5 text-center">
						<img th:src="@{images/gikkuri/head_2@2x.png}">
					</div>
					<div class="mb-4">
						<p>急に痛みが出るぎっくり腰や寝違えは、原因もなく突然起こるわけではありません。</p>
						<p>
							猫背や反り腰などの姿勢の悪さや、普段の生活で無意識に行っている悪い動作が首や腰に負担をかけ続けて限界になった時、前かがみになったり重いものを持ったり、首に負担のかかる姿勢で寝るなど「痛みを引き起こす動作」を取ったタイミングで引き起こされます。
						</p>
					</div>
					<div class="mb-4">
						<img th:src="@{images/gikkuri/figure_1@2x.jpg}" class="spnon">
						<img th:src="@{images/gikkuri/sp_figure_1@2x.jpg}" class="pcnon">
					</div>
					<div class="mb-5">
						<p>ぎっくり腰が繰り返すんじゃないかと不安な方は腰をかばい、寝違えた方は首が痛くて寝返りが打てないなど、腰や首の筋肉を極力動かさなくなるので筋肉は緊張して硬くなっています。</p>
						<p>ですから、その硬くなっている筋肉の緊張を取る施術が必要になります。</p>
					</div>
					<div class="py-4">
						<div class="head-bg p-4 text-center">
							<h4 class="simple-head m-0"><b class="color-wh">ぎっくり腰や寝違えでやってはいけない事とは？</b></h4>
						</div>
					</div>
					<div class="d-flex row">
						<div class="col-5">
							<p class="text-center"><img th:src="@{images/gikkuri/figure_2@2x.jpg}"></p>
						</div>
						<div class="col-7">
							<p>ある日突然痛みに襲われるぎっくり腰や寝違えですが、都合がつかずなかなか病院等に行けないのでインターネット等で情報を検索して、自力で改善させようとする方もいらっしゃいます。</p>
							<p>しかし、痛みが出てきた時に、<span class="pc-br">絶対やってはいけない事は３つあります。</span></p>
							<p>・腰や首を積極的に動かす<br>・揉む<br>・何もしない</p>
							<p>痛みが出ている腰や首は炎症が起きています。<br>炎症が起きている腰や首を積極的に動かしたり、揉んだりして刺激を与えてしまうと余計に<span
									class="pc-br">炎症がひどくなり痛みが増します。</span></p>
							<p>痛みが強い場合の処置は、冷やして安静にする事が大切です。<br>また痛みが引いてくると、もう大丈夫と思って何もしない方もいらっしゃいます。</p>
						</div>
					</div>
					<div class="pb-4">
						<p>腰や首の筋肉は硬いままなので、何もしないと腰や首の筋肉に負担がかかり続け、<span class="pc-br">「痛みを引き起こす動作」を取った時に痛みが繰り返し出てきます。</span></p>
						<p>にこにこ整骨院では、ぎっくり腰や寝違えを繰り返さない施術を行っておりますので、<span class="pc-br">お気軽にお問い合わせください！</span></p>
					</div>
					<div class="mb-5 text-center">
						<img th:src="@{images/gikkuri/head_3@2x.png}">
					</div>
					<div class="bg-dot-head my-4">
						<div class="d-table w-100">
							<div class="d-table-row">
								<div class="d-table-cell num simple text-center">
									<p class="mb-0"><b>2</b></p>
								</div>
								<div class="d-table-cell text align-middle p-3">
									<h5 class="m-0 p-0"><b>ソフトな刺激の骨格・骨盤矯正</b></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="d-sm-flex row">
						<div class="col-sm-6 order-sm-2">
							<p><img th:src="@{images/youtsu/figure_2@2x.jpg}"></p>
						</div>
						<div class="col-sm-6 order-sm-1">
							<p>身体の歪みや姿勢を正し、ぎっくり腰や寝違えを再発させない為に、骨格・骨盤矯正専用のトムソンベッドを使って施術を行います。</p>
							<p>トムソンベッドは、お身体の負担が少なく矯正できるので、お子さまからお年寄りまで安心して受けられる施術法です。</p>
							<p>トムソンベッドを使わない整体院や整骨院では、バキバキする施術法もありますが、当院の施術はバキバキせずソフトな刺激です。</p>
							<p>骨格・骨盤矯正で骨を正常な位置に戻すことで、筋肉にかかる負担を減らします。</p>
						</div>
					</div>
					<div class="pb-3">
						<p>電気の刺激が苦手な方は、安心して施術を受けられるように微調整しながら施術いたします。</p>
					</div>
					<div class="text-center pt-3 mb-5">
						<p class="mb-4"><img th:src="@{images/katakori/catch@2x.png}" class="w-50"></p>

					</div>
					<div th:replace="fragments/price_fragment::campaign"></div>
					<div th:include="fragments/reasion::reasion"></div>
					<div th:include="fragments/merit::merit"></div>
					<div th:include="fragments/price_fragment::campaign"></div>
					<div th:include="fragments/common_fragment::voice"></div>
					<div class="border-block mb-5">
						<h4 class="head m-0 p-4 text-center"><b>当院に通うとこんな変化を実感できます</b></h4>
						<div class="border-block-container p-1">
							<div class="bg p-4">
								<ul class="list-unstyled list-check m-0">
									<li class="mb-2">繰り返す痛みの<span class="color-red">原因が明確になり、スッキリ改善！</span></li>
									<li class="mb-2"><span class="color-red">痛みが再発するんじゃないかといった不安から</span>解放される</li>
									<li class="mb-2"><span class="color-red">湿布やコルセット、痛み止めに頼らなくても</span>よくなる</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="text-center">
						<h4 class="simple-head p-0 color-gry"><b>痛みを繰り返さず明るく健康な生活を<span
									class="pc-br">送りたいとお考えなら一度ご相談ください！</span></b></h4>
					</div>

				</div>
			</article>
		</div>
	</div>
</body>

</html>