<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">
<head>
  <title th:text="#{content.price.title}"></title>
  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta name="description" th:content="@{content.price.description}" />
  <link rel="canonical" th:href="#{content.price.url}" />
  <meta property="og:url" th:content="#{content.price.url}" />
  <meta property="og:title" th:content="#{content.price.title}" />
  <meta property="og:description" th:content="#{content.price.description}" />
</head>
<body>
  <div  th:remove="tag" id="container">
    <div layout:fragment="mainSection">
      <article id="post-17"
        class="post-17 page type-page status-publish hentry">
        <div class="entry-body">
          <h2 class="bg-head color-grn mb-5">施術料金</h2>
          <h3 class="simple-head my-4">あなたが求めるゴールはどちらでしょうか？</h3>
          <p>
            <img
              th:src="@{images/price/figure_1@2x.png}">
          </p>
          <div class="text-center">
            <figure>
              <img
              th:src="@{images/kigo/arrow_1@2x.png}"
                class="w-25">
            </figure>
          </div>
          <div class="text-center">
            <h5 class="h5-2em mt-0">
              当院の施術は<b class="color-red">痛みの改善</b>と、<span class="pc-br"><b
                class="color-red">再発しない体作りやメンテナンス</b>を目的にしています。</span>
            </h5>
          </div>
          <p>ですから目的が癒しだったり、リラクゼーションをお求めなら当院の施術はお役に立てません。</p>
          <p>しかし痛みや体の不調を本気で改善したい、体に不安を抱えることなく健康で明るい生活を送りたいとお考えの方にはお役に立てます。</p>

          <div th:replace="fragments/price_fragment::nayami"></div>
           <div class="pt-1">
            <h3 class="simple-head my-4">施術料金</h3>
          </div>
          <h4 class="border-head my-4">保険の施術</h4>
          <table class="table-1 table-2 text-center mb-3">
            <tbody>
              <tr>
                <th></th>
                <th>3割</th>
                <th>2割</th>
                <th>1割</th>
              </tr>
              <tr>
                <td class="bg-1"><b class="color-gry">初診</b></td>
                <td>￥1500円～</td>
                <td>￥900円～</td>
                <td>￥700円～</td>
              </tr>
              <tr>
                <td class="bg-1"><b class="color-gry">2回目</b></td>
                <td>980円～</td>
                <td>880円～</td>
                <td>780円～</td>
              </tr>
              <tr>
                <td class="bg-1"><b class="color-gry">3回目</b></td>
                <td>980円～</td>
                <td>880円～</td>
                <td>780円～</td>
              </tr>
            </tbody>
          </table>
          <div class="pb-4">
            <p>
              ※施術内容は治療機器５分＋保険手技１５分。<br>
              ※医療助成の場合、窓口負担はありません。
            </p>
          </div> 
          <div class="pt-4">
            <h5 class="color-gry mb-2">
              <b>さいたま市の学生（高校3年生まで）</b>
            </h5>
            <table class="table-1 table-2 text-center mb-3">
              <tbody>
                <tr>
                  <th class="w-50">初診料</th>
                  <th>2回目以降</th>
                </tr>
                <tr>
                  <td>0円</td>
                  <td>0円</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pb-4">
            <p>
              ※保険の適応対象となる怪我は骨折・脱臼・捻挫・打撲・挫傷（肉離れなど）です。<br>※医療助成の場合、窓口負担はありません。
            </p>
          </div> 
          <div th:replace="fragments/price_fragment::jihiprice"></div>
          <div th:replace="fragments/price_fragment::osusume"></div>
          <div class="text-center arrow-bg">
            <h5 class="h5-2em mt-0">
              <b class="color-red">初めての方&nbsp;1日3名限定！<br>特別価格でお試しできます。
              </b>
            </h5>
          </div>
          <div th:replace="fragments/price_fragment::campaign"></div>
        </div>
      </article>
    </div>
  </div>
</body>
</html>