  <!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">
<head>
<title th:text="#{content.zakotsu.title}"></title>
<meta name="robots"
	content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="description" th:content="@{content.zakotsu.description}" />
<link rel="canonical" th:href="#{content.zakotsu.url}" />
<meta property="og:url" th:content="#{content.zakotsu.url}" />
<meta property="og:title" th:content="#{content.zakotsu.title}" />
<meta property="og:description" th:content="#{content.zakotsu.description}" />
</head>
<body>
  <div  th:remove="tag" id="container">
  
  <div layout:fragment="mainSection">
<article id="post-43" class="post-43 page type-page status-publish hentry">
                <div class="entry-body">
                    <h2 class="bg-head color-grn mb-4">坐骨神経痛</h2>
                    <div class="py-3">
                        <img th:src="@{images/zakotsu/intro@2x.jpg}">
                    </div>
                    <div class="pt-3 pb-5">
                        <img th:src="@{images/zakotsu/top_trouble@2x.jpg}">
                    </div>
                    <div class="mb-4">
                        <img th:src="@{images/zakotsu/head_1@2x.png}">
                    </div>
                    <div class="text-center">
                        <p>病院の検査で椎間板ヘルニアや脊柱管狭窄症といわれ、この先痛みやシビレが良くなるのか不安になって、<span class="pc-br">色々検索した結果このページにたどり着いた方も多いのではないでしょうか。</span></p>
                        <p>ヘルニアによる坐骨神経痛は、お尻や腰や足にかけて痛みやシビレが出てきます。<br>この痛みやシビレを我慢するとドンドン悪化して、手術を勧められるケースもあります。</p>
                        <p>仮に手術を行っても身体の歪みや生活習慣が改善されないと、再発する可能性があります。</p>
                        <p>にこにこ整骨院の施術では、ヘルニア、坐骨神経痛の痛みやシビレ改善は手術以外に<span class="pc-br">方法がないと言われた方の改善事例が多数あります。</span></p>
                        <p>できれば手術は避けたい、他の整骨院や整形外科に通っても痛みやシビレが改善できず<span class="pc-br">この先不安、整骨院に行った事ないけど大丈夫だろうかといった方もお気軽にご相談ください！</span></p>
                    </div>
                    <div class="mb-5 text-center">
                        <img th:src="@{images/zakotsu/head_2@2x.png}" class="w-75">
                    </div>
                    <div class="mb-5">
                        <img th:src="@{images/youtsu/figure_1@2x.jpg}">
                    </div>
                    <div class="mb-5 text-center">
                        <img th:src="@{images/zakotsu/head_3@2x.png}">
                    </div>
                    <div class="mb-5 text-center">
                        <figure class="mb-0">
                            <img th:src="@{images/katakori/figure_6-1@2x.jpg}" class="w-75 px-4">
                        </figure>
                        <img th:src="@{images/katakori/figure_6-2@2x.jpg}" class="px-md-4">
                    </div>
                    <div class="mb-5">
                        <p>身体が歪んでくると、姿勢が悪くなって腰や背骨周辺の筋肉に負担をかけて筋肉が緊張してくる為、その危険信号として脳が腰周辺に痛みやシビレとして伝えてきます。</p>
                        <p>人の身体の土台は骨盤です。</p>
                        <p>骨盤は上半身の重さを支えているので、骨盤が歪んだり、ずれると、脳が無意識に身体のバランスを取ろうとして、あちこちに負担がかかってきます。</p>
                        <p>その負担が、坐骨神経痛に繋がっているのです。</p>
                        <p>坐骨神経痛の方は、よく腰や足を揉んだり湿布を貼ったり、痛み止めを飲んだりしていますが、それは一時的に筋肉の緊張をほぐしているだけで、痛みやシビレを引き起こしている原因の身体の歪みはそのままなので、結果としてまた坐骨神経痛を繰り返してしまうのです。</p>
                    </div>
                    <div class="py-4">
                        <div class="head-bg p-4 text-center">
                            <h4 class="simple-head m-0"><b class="color-wh">痛みやシビレを繰り返さない体へ変われる！<br>施術３つのポイント</b></h4>
                        </div>
                    </div>
                    <div class="pb-4">
                        <p><img th:src="@{images/zakotsu/figure_1@2x.jpg}" class="spnon"><img th:src="@{images/zakotsu/sp_figure_1@2x.jpg}" class="pcnon"></p>
                    </div>
                    <p>にこにこ整骨院では、<span class="pc-br">痛みやシビレの原因にアプローチした施術に加え、既に結果として出ている痛みやシビレを緩和していきます。</span></p>
                    <p>なぜなら、施術を1回受けるだけでは痛みやシビレを繰り返さない体になる事は難しいので、<span class="pc-br">まずは普段の生活を不安なく送る為に痛みやシビレを緩和させる必要があるからです。</span></p>
                    <p>そして骨格と姿勢の矯正を行いながら痛みやシビレを改善していきます。</p>
                    <p>さらに、正しい体の使い方のアドバイスや姿勢を保つ為には欠かせないインナーマッスルを鍛えて痛みやシビレを繰り返さない体へと変えていきます。</p>
                    <h3 class="simple-head mt-5 mb-4 text-center">整体、整骨院、接骨院でも施術の内容が違います！</h3>
                    <div class="pb-4">
                        <p><img th:src="@{images/knowledg/figure_7@2x.jpg}"></p>
                    </div>
                    <div class="pb-5">
                        <p>例えば腰痛の施術を受けて、その場は楽になっても短い期間で痛みが繰り返し出て来る方は「痛みを緩和」する施術を受けています。</p>
                        <p>さらに痛みは改善されたけど、しばらくしたら再び痛みが出てきた方は「痛みを改善」する施術を受けています。<br>にこにこ整骨院では腰痛の痛み改善後、痛みが再発しない体づくりを目的に施術を行っています。</p>
                        <p>施術の内容は院によってそれぞれ違いますので、目的に合わせた院を選択する事が大切です。</p>
                    </div>


                    <div class="mb-5 text-center">
                        <img th:src="@{images/zakotsu/head_4@2x.png}" class="spnon">
                        <img th:src="@{images/zakotsu/sp_head_4@2x.png}" class="pcnon">
                    </div>
                    <div class="bg-dot-head my-4">
                        <div class="d-table w-100">
                            <div class="d-table-row">
                                <div class="d-table-cell num simple text-center">
                                    <p class="mb-0"><b>1</b></p>
                                </div>
                                <div class="d-table-cell text align-middle p-3">
                                    <h5 class="m-0 p-0"><b>痛みやシビレの原因と施術方針を<span class="pc-br">明確にお伝えします</span></b></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="d-sm-flex row">
                            <div class="col-sm-6">
                                <p><img th:src="@{images/zakotsu/figure_5@2x.jpg}"></p>
                            </div>
                            <div class="col-sm-6">
                                <p>個室でのカウンセリングや姿勢分析で痛みやシビレの原因を見極めながら、改善に向けた施術方針をご提案します。</p>
                            </div>
                        </div>
                    <div class="bg-dot-head my-4">
                        <div class="d-table w-100">
                            <div class="d-table-row">
                                <div class="d-table-cell num simple text-center">
                                    <p class="mb-0"><b>2</b></p>
                                </div>
                                <div class="d-table-cell text align-middle p-3">
                                    <h5 class="m-0 p-0"><b>ソフトな刺激の骨格・骨盤矯正</b></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="d-sm-flex row">
                            <div class="col-sm-6 order-sm-2">
                                <p><img th:src="@{images/zakotsu/figure_3@2x.jpg}"></p>
                            </div>
                            <div class="col-sm-6 order-sm-1">
                                <p>骨格や骨盤がズレて、神経を圧迫して痛みやシビレを起こしている場合は、骨格・骨盤矯正専用のトムソンベッドを使って施術を行います。</p>
                                <p>トムソンベッドは、お身体の負担が少なく矯正できるので、お子さまからお年寄りまで安心して受けられる施術法です。</p>
                                <p>トムソンベッドを使わない整体院や整骨院では、バキバキする施術法もありますが、当院の施術はバキバキせずソフトな刺激です。</p>
                            </div>
                        </div>
                    <div class="pb-3">
                        <p>骨格・骨盤矯正で骨を正常な位置に戻すことで、神経にかかる負担を減らします。</p>
                        <p>神経への負担を減らし、筋肉の緊張をほぐすことで血行もよくなり、疲労物質が正常に運搬されるようになるので、痛みやシビレを改善することができます。</p>
                    </div>

          <div class="text-center">
            <h5 class="h5-2em mt-0">
              <img
                  th:src="@{images/katakori/catch@2x.png}" class="w-50">
              
            </h5>
          </div>
          
          
          
          <div th:include="fragments/price_fragment::campaign"></div>
          <div th:include="fragments/reasion::reasion"></div>
          <div th:include="fragments/merit::merit"></div>
          <div th:include="fragments/price_fragment::campaign"></div>
          <div th:include="fragments/common_fragment::voice"></div>
          <div th:include="fragments/common_fragment::warning"></div>
                                </article>
	</div>
</body>
</html>